# General
*.vagrant
.bundle
build/*
tools/chef/cookbooks/*
tools/chef/tmp/*
tools/assets/*
bin/*
.DS_Store
secret.key

# Composer
vendor
composer.phar

# Frontend
.sass-cache/*
*.css.map
node_modules/*

# Project
config.php
encrypted_data_bag_secret
public/data/*
public/config.php
public/forums/config.php
public/forums/files
public/forums/cache
public/forums/images/avatars
